<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="com.yunkuo.core.entity.UnifiedUser" />
        <mapping class="com.yunkuo.core.entity.Authentication" />
        <mapping class="com.yunkuo.core.entity.Ftp" />
        <mapping class="com.yunkuo.core.entity.Config" />
        <mapping class="com.yunkuo.core.entity.DbFile" />
        <mapping class="com.yunkuo.core.entity.DbTpl" />
        <mapping class="com.yunkuo.cms.entity.main.CmsLog" />
        <mapping class="com.yunkuo.cms.entity.main.Channel" />
        <mapping class="com.yunkuo.cms.entity.main.CmsChannelAttr" />
        <mapping class="com.yunkuo.cms.entity.main.ChannelTxt" />
        <mapping class="com.yunkuo.cms.entity.main.ChannelExt" />
        <mapping class="com.yunkuo.cms.entity.main.CmsSiteModel" />
        <mapping class="com.yunkuo.cms.entity.main.CmsUserSite" />
        <mapping class="com.yunkuo.cms.entity.main.CmsUserExt" />
        <mapping class="com.yunkuo.cms.entity.main.CmsRole" />
        <mapping class="com.yunkuo.cms.entity.main.CmsRolePermission" />
        <mapping class="com.yunkuo.cms.entity.main.CmsModel" />
        <mapping class="com.yunkuo.cms.entity.main.CmsModelItem" />
        <mapping class="com.yunkuo.cms.entity.main.CmsTopic" />
        <mapping class="com.yunkuo.cms.entity.main.CmsGroup" />
        <mapping class="com.yunkuo.cms.entity.main.CmsConfig" />
        <mapping class="com.yunkuo.cms.entity.main.CmsSite" />
        <mapping class="com.yunkuo.cms.entity.main.CmsUser" />
        <mapping class="com.yunkuo.cms.entity.main.ContentAttachment" />
        <mapping class="com.yunkuo.cms.entity.main.ContentPicture" />
        <mapping class="com.yunkuo.cms.entity.main.ContentCount" />
        <mapping class="com.yunkuo.cms.entity.main.ContentCheck" />
        <mapping class="com.yunkuo.cms.entity.main.ContentType" />
        <mapping class="com.yunkuo.cms.entity.main.ContentTxt" />
        <mapping class="com.yunkuo.cms.entity.main.ContentExt" />
        <mapping class="com.yunkuo.cms.entity.main.ContentTag" />
        <mapping class="com.yunkuo.cms.entity.main.Content" />

        <mapping class="com.yunkuo.cms.entity.assist.CmsComment" />
        <mapping class="com.yunkuo.cms.entity.assist.CmsCommentExt" />
    </session-factory>

         
</hibernate-configuration>
